html, body
{
	margin           : 0;
	padding          : 0;
	border           : 0px;
	height           : 100%;
	color            : #000;
	background-color : #fff;
	font-size        : 14px;
	font-family      : 'Noto Sans Japanese', serif;
}

html,
body,
a,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6
{
	font-family    : 'Noto Sans Japanese', serif;
	text-transform : none;
}

a
{
	text-decoration : none;
}

.clear
{
	clear : both;
}
